{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Change Password - SmartLearning</title>
  <link rel="stylesheet" href="{% static 'css/tchange_password.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header class="dashboard-header">
    <div class="logo-container">
      <img src="{% static 'images/logo.png' %}" alt="SmartLearning " class="logo-img" />
      <h1>SmartLearning</h1>
    </div>
    <ul>
      <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </header>

  <!--  Change Password Section -->
  <main class="password-container">
    <h2>Change Password</h2>

    <!-- Django Form -->
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"> Update Password</button>
    </form>

    <!-- Messages -->
    {% if messages %}
      <ul class="pass-message">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </main>
</body>
</html>
